services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n_mobile_project
    restart: always
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data:
